<!DOCTYPE html>
<html>
<head>
  <title>Quizmatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Welcome, <%= current_user.display_name %>.
  <%= button_to 'Log out', session_path, method: :delete %>
<% else %>
  <%= link_to 'Join', new_user_path %>
  <%= link_to 'Log in', new_session_request_path %>
<% end %>

<div><%= flash[:notice] %></div>
<div><%= flash[:warning] %></div>

<%= yield %>

</body>
</html>
