<!DOCTYPE html>
<html>
<head>
  <title>Quizmatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="nav">
    <div class="logo"><%= link_to "Quizmatic", root_path %></div>
    <div id="session">
      <% if logged_in? %>
        Welcome, <%= current_user.display_name %>.
        <%= button_to 'Log out', session_path, method: :delete, class: "btn", form_class: "inline" %>
      <% else %>
        <%= link_to 'Log in', new_session_request_path, class: "btn" %>
        or
        <%= link_to 'Join', new_user_path, class: "btn" %>
      <% end %>
    </div>
  </nav>

  <section id="content">
    <%= render_flash(:notice) %>
    <%= render_flash(:warning) %>

    <%= yield %>
  </section>

</body>
</html>
